<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="electroscholars.com.diylinefollowerrobot" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BeforeYouBeginActivity"
            android:label="@string/title_activity_before_you_begin" >
        </activity>
        <activity android:name=".BeforeYouBeginViewActivity" >
        </activity>
        <activity
            android:name=".ArduinoCategoryActivity"
            android:label="@string/title_activity_arduino_category" >
        </activity>
        <activity android:name=".LFRCategoryActivity" ></activity>
        <activity android:name=".SensorCategoryActivity"></activity>
        <activity
            android:name=".ArduinoView"
            android:label="@string/title_activity_arduino_view" >
        </activity>
        <activity
            android:name=".SensorViewActivity"
            android:label="@string/title_activity_sensor_view" >
        </activity>
        <activity
            android:name=".LFRViewActivity"
            android:label="@string/title_activity_lfrview" >
        </activity>
    </application>

</manifest>
